@import "./parciales/variables";

%barras{
    background-image: linear-gradient(to right, $colorCA, rgb(229, 200, 252));
    border-bottom: 3px black;
}

%titulos{
    background-image: $degrade;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
    color: black;
    padding: 10px 0px;
}

%selection{
    background-color: $color1;
    color:white;
}

