@import "./variables";
@import "../extends.scss";

header{

    .header{
        @extend%barras;
    
            .estudio{
                color: white;
                font-family: $font-estudio;
                font-style: initial;
                font-size: 35px;
                text-shadow: 1px gold;
            }    
            
    }
}

/* RESPONSIVE */

@media (max-width: 575.98px) {

    header{
        .header{
            .resp-header{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }        
        }
    }
}